LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVDS;

LOCATE COMP "leds[0]" SITE "E16";  # D25 (Yellow)
LOCATE COMP "leds[1]" SITE "D17";  # D24 (Yellow)
LOCATE COMP "leds[2]" SITE "D18";  # D22 (Green)
LOCATE COMP "leds[3]" SITE "E18";  # D21 (Green)
LOCATE COMP "leds[4]" SITE "F17";  # D26 (Red)
LOCATE COMP "leds[5]" SITE "F18";  # D27 (Red)
LOCATE COMP "leds[6]" SITE "E17";  # D28 (Red)
LOCATE COMP "leds[7]" SITE "F16";  # D29 (Red)

IOBUF PORT "leds[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS25;
